<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="/components/menu/menu.css">

<div class="btn-expandir">
  <i class="bi bi-play-fill seta" id="btn-exp"></i>
</div>

<nav class="nav-lateral">

  <ul>
    <li class="item-menu ativo">
      <a href="/">
        <span class="icone"><i class="bi bi-house-door-fill"></i></span>
        <span class="txt-link">Home</span>
      </a>
    </li>

    <li class="item-menu">
      <a href="/plantas">
        <span class="icone"><i class="bi bi-tree-fill"></i></span>
        <span class="txt-link">Plantas</span>
      </a>
    </li>
  </ul>
</nav>

<!-- <script src="menuEfeitos.js" defer></script> -->
<script>
  var menuItem = document.querySelectorAll('.item-menu')

  function selectLink(){
      menuItem.forEach((item) =>
          item.classList.remove('ativo')
      )
      this.classList.add('ativo')
  }

  menuItem.forEach((item)=>
      item.addEventListener('click', selectLink)
  )

  //Menu expandir

  var btnExp = document.querySelector('#btn-exp')
  var menuSide = document.querySelector('.nav-lateral')

  btnExp.addEventListener('click', function(){
      menuSide.classList.toggle('expandir')
  })
</script>